<!DOCTYPE html>
<html>
  <head>
    <title>Group Timer</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://localhost:3000');
		socket.on('currentTimer', function (data) {
			console.log(data);
			socket.emit('setTimer', { time: 200000 });
  		});
	</script>

  </body>
</html>