<!DOCTYPE html>
<html>
  <head>
    <title>Group Timer</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

	<div id="timer">
	00:00		
	</div>

	<div id="options">
		<div class="time">02</div>
		<div class="time">05</div>
		<div class="time">10</div>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/js/timer.js"></script>

  </body>
</html>